<div class="flex h-screen flex-col">
  <!-- Header -->
  <nav
    class="bg-blue-600 text-white px-4 py-3 flex justify-between items-center shadow-md"
  >
    <div class="font-bold text-lg">Apaleo Task</div>
  </nav>

  <!-- Main Content -->
  <div class="flex flex-grow">
    <!-- Sidebar -->
    <aside class="bg-gray-800 text-white w-64 p-4 shadow-lg">
      <ul class="space-y-4">
        <li>
          <a
            class="block hover:bg-gray-700 p-2 rounded transition-colors duration-200"
            routerLink="/users"
            [routerLinkActive]="'bg-gray-700'"
            >Users</a
          >
        </li>
      </ul>
    </aside>

    <!-- Main Content Area -->
    <main class="flex-grow bg-gray-50 p-6">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white text-center py-3 shadow-md">
    © 2025 Apaleo Task. All Rights Reserved.
  </footer>
</div>
<!--   
<div class="flex h-screen flex-col">
  <nav
    class="bg-blue-600 text-white px-4 py-3 flex justify-between items-center"
  >
    <div class="font-bold text-lg">Apaleo Task</div>
  </nav>

  <div class="flex flex-grow">
    <aside class="bg-gray-800 text-white w-64 p-4">
      <ul class="space-y-4">
        <li>
          <a
            class="block hover:bg-gray-700 p-2 rounded"
            routerLink="/users"
            [routerLinkActive]="'bg-gray-700'"
            >Users</a
          >
        </li>
      </ul>
    </aside>

    <main class="flex-grow bg-gray-100 p-6">
      <router-outlet></router-outlet>
    </main>
  </div>

  <footer class="bg-gray-800 text-white text-center py-3">
    © 2025 Apaleo Task. All Rights Reserved.
  </footer>
</div> -->
